[submodule "EvoMonitor"]
	path = EvoMonitor
	url = https://github.com/Schwank-Lab/evoflow-monitor.git
[submodule "EvoGenotype"]
	path = EvoGenotype
	url = https://github.com/Schwank-Lab/evo-genotype.git
[submodule "Evotool"]
	path = Evotool
	url = https://github.com/Schwank-Lab/evoflow-reactor.git
